[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ProcData"]
	path = ProcData
	url = https://github.com/xytangtang/procdata
[submodule "proclhmm"]
	path = proclhmm
	url = https://github.com/xytangtang/proclhmm
